asgi-redis==0.14.1
asgiref==0.14.0
autobahn==0.16.0
certifi==2018.1.18
channels==0.17.3
click==6.7
colorama==0.3.7
contextlib2==0.5.4
coverage==4.2
daphne==0.14.3
dj-database-url==0.4.1
Django==1.11.2
django-idmap==1.0.3
django-vanilla-views==1.0.4
djangorestframework==3.4.6
Flask==0.12.2
Flask-Bootstrap==3.3.7.1
gunicorn==19.7.1
honcho==0.7.1
huey==1.2.0
IPy==0.83
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
msgpack-python==0.4.8
otree==2.0.12
otree-boto2-shim==0.3.2
otree-core==0.0.0b1
otree-save-the-change==1.1.3
pbr==1.10.0
pipenv==11.9.0
py==1.4.31
pytest==2.9.2
pytest-django==3.0.0
python-redis-lock==3.2.0
pytz==2017.3
raven==5.25.0
redis==2.10.5
requests==2.11.1
schema==0.6.2
six==1.10.0
termcolor==1.1.0
Twisted==16.2.0
txaio==2.5.1
unicodecsv==0.14.1
virtualenv==15.2.0
virtualenv-clone==0.3.0
Werkzeug==0.14.1
whitenoise==3.2.1
ws4py==0.3.5
XlsxWriter==0.9.3
zope.interface==4.2.0
Automat==0.6.0
Django==1.11.2
Flask=0.12.2
Flask-Bootstrap==3.3.7.1
IPy==0.83
Jinja2==2.10
MarkupSafe==1.0
Twisted=16.2.0
Werkzeug==0.14.1
XlsxWriter==0.9.3
asgi-redis==0.14.1
asgiref==0.14.0
async-timeout==2.0.1
attrs=17.4.0
autobahn==0.16.0
certifi==2018.1.18
channels==0.17.3
click=6.7
colorama=0.3.7
constantly==15.1.0
contextlib2==0.5.4
coverage==4.2
cycler==0.10.0
daphne==0.14.3
dj-database-url==0.4.1
django-idmap==1.0.3
django-vanilla-views==1.0.4
djangorestframework==3.4.6
dominate==2.3.1
gunicorn==19.7.1
honcho==0.7.1
huey==1.2.0
hyperlink==18.0.0
idna==2.6
incremental==17.5.0
itsdangerous==0.24
kiwisolver==1.0.1
matplotlib==2.2.2
msgpack-python=0.4.8
numpy==1.14.2
otree==2.0.12
otree-boto2-shim==0.3.2
otree-core==0.0.0b1
otree-save-the-change==1.1.3
pandas==0.22.0
pbr==1.10.0
pip==9.0.1
pipenv==11.9.0
py==1.4.31
pyparsing==2.2.0
pytest==2.9.2
pytest-django==3.0.0
python-dateutil==2.7.0
python-redis-lock==3.2.0
pytz==2017.3
raven==5.25.0
redis==2.10.5
requests==2.11.1
schema==0.6.2
scikit-learn==0.19.1
scipy==1.0.0
seaborn==0.8.1
setuptools==39.0.1
six==1.10.0
sklearn==0.0
termcolor==1.1.0
txaio==2.5.1
unicodecsv==0.14.1
virtualenv==15.2.0
virutalenv-clone==0.3.0
visitor==0.1.3
wheel==0.29.0
whitenoise==3.2.1
ws4py==0.3.5
zope.interface==4.2.0
